*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sanas-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)), url(images/background.jpg);
    background-size: cover;
    position: absolute;
    background-position: center;
    padding: 10px 8%;
    min-height: 100vh;
}

.content{
    margin-top: 14%;
    color: #f2ff05;
    max-width: 620px;
}
.content h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px;
    

}
.content form{
display: flex;
align-items: center;
background: #7e0bf2;
border-radius: 10px;
padding: 10px;
margin-top: 30px;
}
.content form input{
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
    background: #7e0bf2;
    text-fill-color: black;
    font-weight: bold;

}
.content form .btn{
    font-size: 15px;
    padding: 10px 30px;
    background: #f20b0b;
   
}
nav{
    position: relative;
    width: 100%;
    height: 50px;
    background: #222;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}
nav a{
    position: relative;
    display: inline-block;
    font-size: lem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}
nav span{
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #194b4f, #33fffc);
    border-radius: 10px;
    transition: 0.5s;
}
nav a:nth-child(1):hover~span{
    left: 67px;
}
nav a:nth-child(2):hover~span{
    left: 300px;
}
nav a:nth-child(3):hover~span{
    left: 535px;
}
nav a:nth-child(4):hover~span{
    left: 770px;
}
nav a:nth-child(5):hover~span{
    left: 1010px;
}

fooder p{
    justify-content: center;
    justify-items: center;
    padding: 10px;
}
.imges{
    display: grid;
    grid-template-columns: auto auto auto;
    
}
img{
    height: 230px;
    border-radius: 7px;
}